<div class="card">
    <div class="card-header">
        <h5>Tạo Người Dùng</h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <form method="post" action="/Users/Create">
                    <div class="form-group">
                        <label>FirstName <span class="text-danger">*</span></label>
                        <input name="firstname" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>LastName <span class="text-danger">*</span></label>
                        <input name="lastname" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>PassWord <span class="text-danger">*</span></label>
                        <input name="password" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Gender <span class="text-danger">*</span></label>
                        <input name="gender" type="text" class="form-control">
                    </div>

                    @*//up ảnh*@
                    <div class="j-input j-append-big-btn j-success-view">
                        <label class="j-icon-left" for="file_input">
                            <i class="icofont icofont-download"></i>
                        </label>
                        <div class="j-file-button">
                            Browse
                            <input type="file" name="file_name" onchange="document.getElementById('file_input').value = this.value;">
                        </div>
                        <input type="text" id="file_input" readonly="" placeholder="no file selected">
                        <span class="j-hint">Only: jpg / png / doc, less 1Mb</span>
                    </div>
                    <br />

                    <a type="button" href="/Users" class="btn btn-default">Back</a>
                    <button type="submit" class="btn btn-info">Add</button>
                </form>
            </div>
            <div class="col-sm-3"> </div>
        </div>
    </div>
</div>




