
@*@@{
    ViewData["Title"] = "Index";
}*@

  <div class="card">
       <div class="card-header">
        <h5>Quản Lý Người Dùng</h5>
       </div>
        <div class="card-block table-border-style">
          <div class="table-responsive">
           <table class="table">
             <thead>
               <tr>
                <th>#</th>
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Username</th>
                 <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                 <th scope="row">1</th>
                 <td>Mark</td>
                 <td>Otto</td>
                 <td>@@mdo</td>
                </tr>

                 <tr>
                 <th scope="row">2</th>
                 <td>Mark</td>
                 <td>Otto</td>
                 <td>@@mdo</td>
                </tr>

                 <tr>
                 <th scope="row">3</th>
                 <td>Mark</td>
                 <td>Otto</td>
                 <td>@@mdo</td>
                </tr>

                <tr>

                </tr>
                                                            
             </tbody>
           </table>
          </div>
        </div>
  </div>
