<div class="card">
       <div class="card-header">
        <h5>Quản Lý Sản Phẩm</h5>
       <button type="button" class="btn btn-success btn-sm">Add</button>

       </div>
        <div class="card-block table-border-style">
          <div class="table-responsive">
           <table class="table">
             <thead>
               <tr>
                <th>#</th>
                 <th>Image</th>
                 <th>ProductName</th>
                 <th>Brand</th>
                 <th>Price</th>
                 <th>Discount</th>
                 <th>Quantity</th>
                 <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                 <th scope="row">1</th>
                 <td><img src="https://cdn.tgdd.vn/Products/Images/42/251192/iphone-14-pro-max-vang-thumb-600x600.jpg" height="50px" width="50px"/></td>
                 <td>Redmi Note 12</td>
                 <td>Xiaomi</td>
                 <td>998</td>
                 <td>15</td>
                 <td>9</td>
                 <td>
                     <button type="button" class="btn btn-info btn-sm">Edit</button>
                     <button type="button" class="btn btn-danger btn-sm">Delete</button>
                 </td>
                </tr>

                <tr>
                 <th scope="row">2</th> <td><img src="https://cdn.tgdd.vn/Products/Images/42/251192/iphone-14-pro-max-vang-thumb-600x600.jpg" height="50px" width="50px"/></td>
                 <td>SamSung Z Flip 4</td>
                 <td>SamSung</td>
                 <td>677</td>
                  <td>20</td>
                  <td>6</td>
                  <td>
                     <button type="button" class="btn btn-info btn-sm">Edit</button>
                     <button type="button" class="btn btn-danger btn-sm">Delete</button>
                 </td>
                </tr>
                
                <tr>
                 <th scope="row">3</th>
                 <td><img src="https://cdn.tgdd.vn/Products/Images/42/251192/iphone-14-pro-max-vang-thumb-600x600.jpg" height="50px" width="50px"/></td>
                 <td>Iphone 14 Pro Max</td>
                 <td>Iphone</td>
                 <td>1999</td>
                  <td>10</td>
                  <td>1</td>
                  <td>
                     <button type="button" class="btn btn-info btn-sm">Edit</button>
                     <button type="button" class="btn btn-danger btn-sm">Delete</button>
                 </td>
                </tr>
                <tr>
                </tr>
             </tbody>
           </table>
          </div>
        </div>
  </div>
