@using Myweb.Domain.Models.Entities;
@model Category

<div class="card">
    <div class="card-header">
        <h5>Chỉnh sửa Danh Mục</h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <form method="post" action="/Category/Update">
                   <div class="form-group">
                        <input id="update" name="id" value="@Model.Id" type="hidden" />
                        <label>Tên Danh Mục <span class="text-danger">*</span></label>
                        <input name="name" value="@Model.Name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @{
                                var isCheckedActive = Model.IsActive ? "checked" : string.Empty;
                                var isCheckedInActive = !Model.IsActive ? "checked" : string.Empty;
                            }
                            <div class="col-sm-4">
                                <label>Trạng thái :</label>
                                <br />
                                <input name="isactive" value="true" type="radio" @isCheckedActive />
                                <span>Hiển Thị</span>
                                <input name="isactive" value="false" type="radio" @isCheckedInActive />
                                <span>Ẩn</span>
                            </div>
                        </div>
                    </div>
                    <a type="button" href="/Category" class="btn btn-default">Back</a>
                    <button type="submit" class="btn btn-info">Update</button>
                </form>
            </div>
            <div class="col-sm-3"> </div>
        </div>
    </div>
</div>