@using Myweb.Domain.Models.Entities;
@model Category

<div class="card">
    <div class="card-header">
        <h5>Edit Category</h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <form method="post" action="/Admin/Category/Update" enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="update" name="id" value="@Model.Id" type="hidden" />
                        <label>Category Name <span class="text-danger">*</span></label>
                        <input name="name" value="@Model.Name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            @{
                                var isCheckedActive = Model.IsActive ? "checked" : string.Empty;
                                var isCheckedInActive = !Model.IsActive ? "checked" : string.Empty;
                            }
                            <div class="col-sm-4">
                                <label>Status :</label>
                                <br />
                                <input name="isActive" value="true" type="radio" @isCheckedActive />
                                <span>Display</span>
                                <input name="isActive" value="false" type="radio" @isCheckedInActive />
                                <span>Hide</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Image:</label>
                        <div>
                            <img src="~/data/categories/@Model.Id/@Model.Image" width="100px" height="100px" />
                        </div>
                        <br />
                        <input type="file" name="file" />
                    </div>

                    <button type="submit" class="btn btn-info">Update</button>
                </form>
            </div>
            <div class="col-sm-3"> </div>
        </div>
        <div>
            <a type="button" href="/Admin/Category" class="btn btn-default">Back</a>
        </div>
    </div>
</div>