@using Myweb.Domain.Models.Entities;
@model Banner

<div class="card">
    <div class="card-header">
        <h5>Create Banner</h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <form method="post" action="/Admin/Banners/Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Title<span class="text-danger">*</span></label>
                        <input name="title" type="text" class="form-control" required placeholder="Press title ...">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>DisplayLink</label>
                        <input name="displaylink" type="text" class="form-control" title="Press display link ...">
                    </div>
                    <div class="form-group">
                        <label>Link</label>
                        <input name="link" type="text" class="form-control" placeholder="Press link ...">
                    </div>
                    <div class="form-group">
                        <label>Position<span class="text-danger">*</span></label>
                        <input name="position" type="number" min="1" class="form-control" required>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="file" name="file" required />
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-info">Create</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-3"> </div>
        </div>
        <div>
            <a type="button" href="/Admin/Banners" class="btn btn-default">Back</a>
        </div>
    </div>
</div>




