@using MyWeb2023.Models.Dto;
@model List<BannerDto>

<div class="home-slider margin-bottom-0">
	@foreach (var item in Model)
	{
		<!-- Slide -->
		<div data-background-image="client/assets/img/@item.Image" class="item">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="home-slider-container">
							<!-- Slide Title -->
							<div class="home-slider-desc">
								<div class="home-slider-title mb-4">
									<h5 class="theme-cl fs-sm ft-ragular mb-0">@item.Title</h5>
									<h1 class="mb-1 ft-bold lg-heading">@item.Title<br>Collection 2023</h1>
									<span class="trending">@item.Description</span>
								</div>
								<a href="/@item.Link" class="btn stretched-link borders">Shop Now<i class="lni lni-arrow-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>