@model List<string>
<!-- ======================= Banner ======================== -->
<!-- ============================ Hero Banner  Start================================== -->
<div class="home-slider margin-bottom-0">
	@{
		//foreach (var item in Model)
		//{
		//	<h1>ảnh @item</h1>
		//}
	}
	<!-- Slide -->
	<div data-background-image="client/assets/img/banner-24.png" class="item">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="home-slider-container">

						<!-- Slide Title -->
						<div class="home-slider-desc">
							<div class="home-slider-title mb-4">
								<h5 class="theme-cl fs-sm ft-ragular mb-0">Winter Collection</h5>
								<h1 class="mb-1 ft-bold lg-heading">New Winter<br>Collections 2021</h1>
								<span class="trending">There's nothing like trend</span>
							</div>

							<a href="#" class="btn stretched-link borders">Shop Now<i class="lni lni-arrow-right ml-2"></i></a>
						</div>
						<!-- Slide Title / End -->

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Slide -->
	<div data-background-image="client/assets/img/banner-25.png" class="item">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="home-slider-container">

						<!-- Slide Title -->
						<div class="home-slider-desc">
							<div class="home-slider-title mb-4">
								<h5 class="theme-cl fs-sm ft-ragular mb-0">Winter Collection</h5>
								<h1 class="mb-1 ft-bold lg-heading">New Winter<br>Collections 2021</h1>
								<span class="trending">There's nothing like trend</span>
							</div>

							<a href="#" class="btn stretched-link borders">Shop Now<i class="lni lni-arrow-right ml-2"></i></a>
						</div>
						<!-- Slide Title / End -->

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Slide -->
	<div data-background-image="client/assets/img/banner-26.png" class="item">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="home-slider-container">

						<!-- Slide Title -->
						<div class="home-slider-desc">
							<div class="home-slider-title mb-4">
								<h5 class="theme-cl fs-sm ft-ragular mb-0">Winter Collection</h5>
								<h1 class="mb-1 ft-bold lg-heading">New Winter<br>Collections 2021</h1>
								<span class="trending">There's nothing like trend</span>
							</div>

							<a href="#" class="btn stretched-link borders">Shop Now<i class="lni lni-arrow-right ml-2"></i></a>
						</div>
						<!-- Slide Title / End -->

					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- ============================ Hero Banner End ================================== -->