@using MyWeb2023.Areas.Admin.Models.Dto
@using Myweb.Domain.Models.Entities

@model List<OrderDto>

<div class="card">
    <div class="card-header">
        <h5>Order Management</h5>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>OrderDate</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Note</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">1</th>
                                <td>@item.OrderDate.ToString("MM/dd/yyyy")</td>
                                <td>@item.Address</td>
                                <td>@item.Phone</td>
                                <td>@item.Note</td>
                                @{
                                    if (item.Status == 1)
                                    {
                                        <td><span class="badge badge-success">Success</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-warning" >Processing</span></td>
                                    }
                                }
                               
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

