@using MyWeb2023.Areas.Admin.Models.Dto
@using Myweb.Domain.Models.Entities

@model List<OrderDto>

<div class="card">
    <div class="card-header">
        <h5>Quản Lý Đơn Hàng</h5>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Status</th>
                        <th>Total Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">1</th>
                                <td>@item.Code</td>
                                <td>@item.Status</td>
                                <td class="text-success">@item.Total</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm">Edit</button>
                                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

