@using Myweb.Domain.Models.Entities;
@model Order

<div class="card">
    <div class="card-header">
        <h5>Edit Order</h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <form method="post" action="/Order/Update">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <input id="update" name="id" value="@Model.Id" type="hidden" />
                                <label>Status</label>
                                <select class="form-control" name="status">
                                    <option value="">Order Status</option>
                                    <option value="1">Success</option>
                                    <option value="2">Fails</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info">Update </button>
                </form>
            </div>
        </div>
        <div>
            <a type="button" href="/Admin/Order" class="btn btn-default">Back</a>
        </div>
    </div>
</div>