@using MyWeb2023.Areas.Admin.Models.Dto;
@{
    List<ComboboxDto> brands = ViewBag.Brands;
}

<div class="card">
    <div class="card-header">
        <h5>Add Product</h5>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
                <form method="post" action="/Admin/Products/Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Product Name <span class="text-danger">*</span></label>
                        <input name="name" type="text" class="form-control" required>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Price <span class="text-danger">*</span></label>
                                <input name="price" type="text" class="form-control" required>
                            </div>
                            <div class="col-sm-4">
                                <label>Discount:</label>
                                <input name="discount" type="text" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Brand</label>
                        <select class="form-control" name="brandid">
                            <option value="">Chọn</option>
                            @{
                                foreach (var item in brands)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <br />
                        <input name="status" value="true" type="radio" />
                        <span>Display</span>
                        <input name="status" value="false" type="radio" />
                        <span>Hide</span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <div id="editor" ></div>
                        <html lang="en">
                        <head>
                            <meta charset="utf-8">
                            <script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>
                        </head>
                        <body>
                            <div name="description" id="editor">
                            </div>
                            <script>
                                ClassicEditor
                                    .create(document.querySelector('#editor'))
                                    .catch(error => {
                                        console.error(error);
                                    });
                            </script>
                        </body>
                    </html>
                    </div>

                    <div class="form-group">
                        <input name="file" type="file" />
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-info">Create</button>
                    </div>
                   
                </form>
            </div>

            <div class="col-sm-3"> </div>
        </div>
        <div>
        <a type="button" href="/Admin/Products" class="btn btn-default">Back</a>
        </div>
    </div>
</div>
@*Url.Action("Create","Products")*@
