@using MyWeb.Infrastructure.Client;
@using MyWeb2023.RequestModel.Client;


<script>
    function Checkout(){
        let email = document.getElementById('email').value;
        let phone = document.getElementById('phone').value;
        let address = document.getElementById('address').value;
        let note = document.getElementById('note').value;
        let orderdate = document.getElementById('orderdate').value;
        
        axios.post('/checkout/index', {
            'email': email,
            'phone': phone,
            'address': address,
            'note': note,
            'orderdate': orderdate
        }, {
            headers: {
                'content-type': 'application/x-www-form-urlencoded'
            }
        })
            .then(function (response) {
                console.log(response);
                paySuccess()
            })
    }
   
</script>

<section class="middle">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="text-center d-block mb-5">
                    <h2>Checkout</h2>
                </div>
            </div>
        </div>
            <div class="row justify-content-between">
                <div class="col-12 col-lg-7 col-md-12">
                    <h5 class="mb-4 ft-medium">Billing Details</h5>
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                            <label class="text-dark">Email <span class="text-danger">*</span></label>
                                <input id="email" name="email" type="email" class="form-control" placeholder="Email" />
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                            <label class="text-dark">Phone Number <span class="text-danger">*</span></label>
                                <input id="phone" name="phone" type="text" class="form-control" placeholder="Mobile Number" />
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                            <label class="text-dark">Address <span class="text-danger">*</span></label>
                                <input id="address" name="address" type="text" class="form-control" placeholder="Address " />
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="text-dark">Country </label>
                                <select class="custom-select">
                                    <option value="1" selected="">Viet Nam</option>
                                    <option value="2">United State</option>
                                    <option value="3">United Kingdom</option>
                                    <option value="4">China</option>
                                    <option value="5">Pakistan</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="text-dark">Additional Information</label>
                                <textarea id="note" name="note" class="form-control ht-50"></textarea>
                            </div>
                        </div>
                    <input id="orderdate" name="orderdate" type="hidden"/>
                    </div>

                    <h5 class="mb-4 ft-medium">Payments</h5>
                    <div class="row mb-4">
                        <div class="col-12 col-lg-12 col-xl-12 col-md-12">
                            <div class="panel-group pay_opy980" id="payaccordion">
                                <!-- Pay By Paypal -->
                                <div class="panel panel-default border">
                                    <div class="panel-heading" id="pay">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" role="button" data-parent="#payaccordion" href="#payPal" aria-expanded="true" aria-controls="payPal" class="">PayPal<img src="~/client/assets/img/paypal.html" class="img-fluid" alt=""></a>
                                        </h4>
                                    </div>
                                    <div id="payPal" class="panel-collapse collapse show" aria-labelledby="pay" data-parent="#payaccordion">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="text-dark">PayPal Email</label>
                                                <input type="text" class="form-control simple" placeholder="paypal@gmail.com">
                                            </div>
                                            <div class="form-group">
                                            <button onclick="Checkout()" type="submit" class="btn btn-dark btm-md full-width">Pay 108 USD</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product -->
                <div class="col-12 col-lg-4 col-md-12">
                    <div class="d-block mb-3">
                        <h5 class="mb-4">Order Items (3)</h5>
                        <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x mb-4">
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-3">
                                        <!-- Image -->
                                        <a href="product.html"><img src="~/client/assets/img/product/7-a.jpg" alt="..." class="img-fluid"></a>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <div class="cart_single_caption pl-2">
                                            <h4 class="product_title fs-md ft-medium mb-1 lh-1">Women Striped Shirt Dress</h4>
                                            <p class="mb-1 lh-1"><span class="text-dark">Size: 40</span></p>
                                            <h4 class="fs-md ft-medium mb-3 lh-1">$129</h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card mb-4 gray">
                        <div class="card-body">
                            <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                               
                                <li class="list-group-item d-flex text-dark fs-sm ft-regular">
                                    <span>Total</span> <span class="ml-auto text-dark ft-medium">$108.22</span>
                                </li>
                                <li class="list-group-item fs-sm text-center">
                                    Shipping cost calculated at Checkout *
                                </li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
         </div>
    </div>

</section>
<!-- ======================= Product Detail End ======================== -->
